<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw Together</title>
    <link rel="stylesheet" href="style/style-of-draw.css">
</head>

<body>
    <h1>Draw Together</h1>
    <div class="container" id="main-area">
        <div class="draw-area" id="site-1">

        </div>
        <div class="chat-area">

        </div>
    </div>
    <script src="javascript/module1.js"></script>
</body>

</html>